body {
     font-family: "Bungee Spice", sans-serif;
     font-weight: 400;
     font-style: normal; 
     background-color: rgb(255, 255, 205);
}

.bungee-spice-regular {
     font-family: "Bungee Spice", sans-serif;
     font-weight: 400;
     font-style: normal;
}

._row{
     display: flex;
     flex-direction: row;
}

._col{
     display: flex;
     flex-direction: column;
}

._jstart{
     justify-content: flex-start;
}

._astart{
     align-items: flex-start;
}

._jaround{
     justify-content: space-around;
}

._jbetween{
     justify-content: space-between;
}

._jevenly{
     justify-content: space-evenly;
}

._jend{
     justify-content: flex-end;
}

._jcenter{
     justify-content: center;
}

._acenter{
     align-items: center;
}

ul{
     list-style: none;
}